workflows:
  wgs_std_viper:
    url: "https://github.com/marrip/wgs_std_viper.git"
    tag: "1.0.1"
  wgs_somatic_snp_viper:
    url: "https://github.com/marrip/wgs_somatic_snp_viper.git"
    tag: "main"
  wgs_somatic_cnv_sv_viper:
    url: "https://github.com/marrip/wgs_somatic_cnv_sv_viper.git"
    tag: "main"

samples: "samples.tsv"
units: "units.tsv"

reference:
  adapter:
    fwd: "TACACTCTTTCCCTACACGACGCTCTTCCGATCT"
    rev: "GTGACTGGAGTTCAGACGTGTGCTCTTCCGATCT"
  fasta: "reference/WASH7P.fna"
  intervals: "reference/WASH7P.interval_list"
  loci: "reference/WASH7P.loci.txt"
  sites: "reference/known_indels.vcf"

cnvkit:
  pon: "reference/cnvkit_somatic_pon.cnn"

cnvnator:
  pon: "reference/exclude.bed"

manta:
  pon: "reference/exclude.bed"

smoove:
  exclude: "reference/exclude.bed"

tiddit:
  pon: "reference/exclude.bed"

vardict:
  bed: "reference/vardict.bed"

tools:
  cnvkit: "docker://marrip/cnvkit:0.9.7"
  cnvnator: "docker://marrip/cnvnator:0.4.1"
  common: "docker://marrip/common:1.1.0"
  cutadapt: "docker://marrip/cutadapt:3.3"
  fastqc: "docker://marrip/fastqc:0.11.9"
  gatk: "docker://broadinstitute/gatk:4.2.0.0"
  manta: "docker://marrip/manta:v1.6.0"
  mosdepth: "docker://marrip/mosdepth:v0.3.1"
  tiddit: "docker://marrip/tiddit:2.12.1"
  vardict: "docker://marrip/vardict:1.8.2"
